html, body{
  overflow:hidden;
}

body {
  margin: 0;
  font-family: 'Roboto';
}

.grid-item {
  overflow: hidden;

  .textWrapper {
    display: none;
  }

  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &.show-detail {
    img {
      position: static;
      transform: none;
    }
  }
}

img {
  display: block;
  max-width: 100%;
}

header {
  height: 6.3vw;
  line-height: 6.3vw;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 5px #828282;
  position: relative;

  .headerWrapper {
    display: inline-block;
  }

  span {
    font-size: 65px;
  }

  img {
    height: 6.3vw;
    float: left;
  }
}

#images-container {
  width: 100%;
  transition: transform 2s ease-in;
  overflow: hidden;
  position: relative;
}

.is-broken {
  display: none;
}

.controls {
  position: fixed;
  right: 0;
  bottom: 0;
}


.show-detail,
header {
  //Possible Z-index animations in future for items that will be over top
  z-index: 100;
}

.controls {
  z-index: 10000;
}

.show-detail {
  background-color: rgba(0, 0, 0, 0.8);;

  .imgWrapper {
    overflow: hidden;
    float: left;
    display: block;
    margin: 100px;
    width: calc(50% - 200px);
    height: calc(100% - 200px);
    box-sizing: border-box;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      float: left;
      width: 100%;
      height: auto;
      box-sizing: border-box;
    }
  }


  .textWrapper {
    float: left;
    display: block;
    width: 50%;
    height: 100%;
    padding: 10vw 60px 10vw 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 1.3em;
    font-weight: 600;

    span {
      display: block;
    }

    .userName {
      font-size: 1em;
      margin-bottom: 10px;

      //hide
      display: none;
    }

    .userThanks {
      font-size: 1.2em;

    }

    .userHashtags {
      margin-top: 20px;
      font-size: inherit;
    }
  }
}

#ads-container {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  opacity: 0;

  .ad {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #000;
  }
}

