html, body{
  overflow:hidden;
}

body {
  margin: 0;
}

img {
  display: block;
}

#images-container {
  width: 100%;
  transition: transform 2s ease-in;
}

.is-broken {
  display: none;
}

header.fixed {
  position: fixed;
  z-index: 10;
}
