html, body{
  overflow:hidden;
}

body {
  margin: 0;
  font-family: 'Roboto';
}

.grid-item {
  overflow: hidden;

  div {
    display: none;
  }
}

img {
  display: block;
  max-width: 100%;
}

header {
  height: 120px;
  line-height: 120px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 5px #828282;
  position: relative;

  .headerWrapper {
    display: inline-block;
  }

  span {
    font-size: 65px;
  }

  img {
    max-height: 100%;
    float: left;
  }
}

#images-container {
  width: 100%;
  transition: transform 2s ease-in;
  overflow: hidden;
  position: relative;
}

.is-broken {
  display: none;
}

.controls {
  position: fixed;
  right: 0;
  bottom: 0;
}


.show-detail,
header {
  //Possible Z-index animations in future for items that will be over top
  z-index: 100;
}

.controls {
  z-index: 10000;
}

.show-detail {
  background-color: rgba(0, 0, 0, 0.8);;

  img {
    float: left;
    width: 50%;
    padding: 120px;
    box-sizing: border-box;
    max-width: none;
  }

  div {
    float: left;
    display: block;
    width: 50%;
    height: 100%;
    padding: 120px;
    box-sizing: border-box;
    color: #fff;
    font-size: 1.3em;
    font-weight: 600;

    span {
      display: block;
    }

    .userName {
      font-size: 1em;
      margin-bottom: 10px;
    }

    .userThanks {
      font-size: 0.8em;

    }

    .userHashtags {
      margin-top: 20px;
      font-size: inherit;
    }
  }
}

#ads-container {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  opacity: 0;

  .ad {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #000;
  }
}

